@using DeKoningAutoverhuur.Web.WebApplication.Common.Objects;
@{
    var CarModelObjects = (List<CarModelObject>)ViewData["carmodels"];
    ViewData["Title"] = "Reserveren - Auto kiezen";
}
<h2>@ViewData["Title"].</h2>
<form name="form" method="post" action="">
<div class="row">
    @{
        foreach (CarModelObject CarModelObject in CarModelObjects)
        {
            @Html.Raw(@"
            <div class=""col-md-3"">
                <div class=""car-holder"">
                    <div class=""car-image"" >
                        <img src=""/images/cars/" + CarModelObject.Image +  @""" class=""img-responsive"" />
                    </div>
                    <div class=""car-info"" >
                        <p>
                            " + CarModelObject.Brand + @" " + CarModelObject.Model + @"
                        </p>
                        <input type=""radio"" name=""carmodel"" value=""" + CarModelObject.Id + @"""/>
                    </div>
                </div>

            </div>");
        }
    }


</div>
    <button type="submit" id="form_save" class="btn">Volgende Stap</button>
</form>