@{
    ViewData["Title"] = "Reserveren - Creditcard betaling";
}
<h2>@ViewData["Title"].</h2>

<form name="form" method="post" action="">
    <input type="submit" value="Naar Creditcard betaling" />
</form>