@{
    ViewData["Title"] = "Reserveren - Datum kiezen";
}
<h2>@ViewData["Title"].</h2>

<h4>Verhuur periode</h4>
<form name="form" method="post" action="">
    <div class="form-group">
        <label><strong>Van</strong></label>
        <input class="form-control" type="date" style="width: 462px;" id="form_fromdatetime" name="fromdatetime" required="required" value="@ViewData["fromdatetime"]" />
    </div>
    <div class="form-group">
        <label><strong>Tot</strong></label>
        <input class="form-control" type="date" style="width: 462px;" id="form_todatetime" name="todatetime" required="required" value="@ViewData["todatetime"]" />
    </div>
</form>
