@using DeKoningAutoverhuur.Web.WebApplication.Common.Objects;
@{
    var payments = (List<PaymentObject>)ViewData["payments"];
    ViewData["Title"] = "Reserveren - Betaling kiezen";
}
<h2>@ViewData["Title"].</h2>

<form name="form" method="post">
@{
    foreach (PaymentObject payment in payments)
    {
        @Html.Raw(@"<input type=""radio"" name=""provider"" value=""" + payment.Identifier + @""" checked />");
    }
        }
    <input type="submit" value="betalen" />
</form>